*{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: 0;
}
/*--------------class define----------------*/
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.stylebg{
	background-color: #3B5998;
}
.stylebd{
	border-color: #4c70ba;
}
.stylefont{
	color: #3B5998;
}
.pad{
	padding: 0 15px;
}

/*--------------class define end-------------*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
#content-wrapper{
	padding: 0 10px;
}